img {
    width: 150px;
}

.images {
    display: inline-flex;
    flex-wrap: wrap;
}

.image {
    margin: 20px;
    position: relative;
}

.image .blur {
    display: none;
    position: absolute;
    top: 20px;
}

.image.loading .element {
    filter: blur(5px);
}

.image.loading .blur {
    display: block;
}


.image .classname,
.image .confidence {
    position: relative;
    padding: 1px 5px;
}

.classname span,
.confidence span {
    position: absolute;
    right: 0;
}
